<div class="container">
<h1 class="follow mb-5 mt-5">Follow一覧</h1>
<% @user.following.each do |user| %>

<%= link_to user_path(user) do %>
  <h2><%= image_tag user.image.to_s, size: '40x40', class: 'rounded-circl mr-1' %><%= user.username %></h2> 
<% end %>

<% end %>
</div>