<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
 <div class="container-fluid">
  <a class="navbar-brand" href="#">FASHION</a>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="navbar-item dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー<span class="caret"></span></a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
    <li><a class="nav-link active" aria-current="page"><%= link_to  'ログアウト', destroy_user_session_path, method: :delete %></a></li>
    <li><a class="nav-link active" aria-current="page"><%= link_to '投稿一覧', fashions_path %></a></li>
     <li><a class="nav-link active" aria-current="page"><%= link_to  '新規投稿', new_fashion_path %></a></li>
  </ul>
  </li>
  </ul>
 </div>
</nav>
