<div class="container">
 <div class="row mt-5">
  <h1 class="title top text-info ml-5">Make f3o</h1>
  <p>Make Fashion Fun and Familiar and Original</p>
 </div>

 <div class="row">
  <h3>ファッションを楽しく、身近に、独創的に</h3>
 </div>

 <div class="row mt-5">
 　<div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">掲示板機能</h5>
        <p class="card-text">ファッションに関する悩み、相談をしよう！</p>
        <a href="/topics/index" class="btn btn-primary">Go 掲示板</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 mt-5 ml-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">投稿機能</h5>
        <p class="card-danger text-danger">*ログインが必要です。</p>
        <p class="card-text">
         自分だけのファッションを投稿しよう！
         </br>
         他の人の投稿を見てお気に入りを作ろう！
        </p>
        <a href="/users/sign_in" class="btn btn-primary">Go ログイン</a>
        <a href="/users/sign_up" class="btn btn-primary">Go 新規登録</a>
      </div>
    </div>
  </div>
 </div>
</div>