<div class="container">
<div class="row mt-5">
 <div class="col-md-6.col-12.offset-md-3">
  <div class="card">
   <div class="card-body">
    <%= render 'form', fashion: @fashion %>
   </div>
  </div>
 </div>
</div>
</div>